@charset "UTF-8";

button {
    background-color: #98FB98;
    width: 200px;
    height: 40px;
}

/* Centering the dropdown and "Other" input box */
.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

#otherInput {
    display: none;
    margin-top: 10px;
    width: 80%;             /* Adjust width to fit well in the center */
    padding: 8px;          /* Add some padding for better appearance */
    border: 1px solid #ccc; /* Add a border for visibility */
    border-radius: 4px;    /* Rounded corners */
    text-align: center;
}
